/*font descargada*/
@font-face {
  font-family: "raleway";
  src: url("../assets/fonts/Raleway-MediumItalic.ttf"); }

/*selector universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: floralwhite; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #efd1bc; }

.navbar {
  background-color: floralwhite; }

.navbar-light .navbar-nav .nav-link {
  color: black;
  text-shadow: 0 0 0.2em #efd1bc, 0 0 0.2em #efd1bc, 0 0 0.2em #efd1bc; }

.navbar-collapse {
  flex-grow: initial; }

.navbar-nav {
  font-size: 1.1rem; }

/*index*/
.carroza {
  width: 650px; }

.section1, .section2, .parallax2, .form-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section2 {
  align-items: center; }

.parallax {
  width: 100%;
  height: 600px;
  background-image: url("../assets/backgrounds/tarta-brownie.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.textoIndex1 {
  color: black;
  text-shadow: 0 0 0.2em white;
  text-align: center; }

.textoIndex {
  font-weight: 900;
  color: black;
  text-shadow: 0 0 0.2em white;
  text-align: justify; }

.parallax2 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/backgrounds/IMG-20211211-WA0014.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-weight: 900;
  color: black; }

.destacados {
  background-color: beige; }

.texto {
  width: 100%;
  height: 50px;
  padding: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: black; }

.divTexto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px; }

.text__siguiente {
  width: 80%;
  height: 50px;
  padding: auto;
  margin-top: auto;
  color: black;
  text-align: center; }

.img__siguiente {
  width: 250px;
  padding: 30px auto;
  border-radius: 10px; }

/*class para sobre mi*/
.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center; }

.textsobre {
  width: 500px;
  height: 60px;
  font-size: 45px;
  padding: auto;
  margin-top: auto;
  margin: auto;
  font-weight: 900; }

.divTex1 {
  background-color: beige;
  margin: 10px;
  border-radius: 10px; }

.text__sobremi {
  width: 400px;
  height: 50px;
  font-size: 30px;
  padding: auto;
  margin-top: auto; }

.text__parrafo {
  max-width: 90%;
  font-size: 18px;
  margin: 10px;
  color: black;
  text-align: justify; }

.img__sobremi {
  width: 500px;
  height: 500px;
  padding: 30% auto;
  border-radius: 10px;
  margin: 10px; }

/* preguntas.frecuentes*/
.accordion-button:not(.collapsed) {
  color: darkorange; }

.accordion-button:focus {
  box-shadow: 0 0 0 0.20rem #ff8907c2; }

/*bem de contacto*/
.contenedor1 {
  width: 95%;
  margin-left: 10px; }

.form-contacto {
  border: 2px solid;
  padding: 20px;
  background-color: #d5ad92;
  text-shadow: 0 0 0.2em white; }

.contacto1 {
  margin-top: auto;
  padding: auto;
  font-size: 30px;
  color: white;
  font-weight: 100;
  text-shadow: black 0.1em 0.1em 0.2em; }

.text__contacto {
  margin-top: auto;
  padding: auto;
  font-size: 20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em; }

.form-contacto button, .form-contacto textarea, .form-contacto input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid floralwhite;
  color: black; }

.form-contacto button {
  background-color: floralwhite;
  border: 0;
  text-transform: uppercase; }

/*productos*/
.contenedor2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center; }

.imgproducto {
  height: 250px;
  width: 250px;
  padding: 20px 20px;
  border-radius: 20px; }

footer {
  width: 100%;
  background-color: beige;
  color: white;
  padding: 20px 20px;
  background-image: url("../assets/backgrounds/toa-heftiba-5-MNAjL81Iw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: sticky;
  font-weight: 900;
  text-shadow: black 0.1em 0.1em 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/*media queris mobile*/
@media (max-width: 576px) {
  .carroza {
    width: 100%; }
  .bloque {
    flex-direction: column; }
  .divTexto {
    flex-direction: column;
    align-items: center; }
  .img__siguiente {
    width: 340px; }
  .section2 {
    flex-direction: column;
    margin: 10px; }
  .ifr {
    width: 100%;
    height: 280px; }
  .texto {
    width: 400px; }
  .text__siguiente {
    width: 300px; }
  /*Productos*/
  .textsobre {
    width: 250px;
    height: 40%;
    display: flex;
    justify-content: center; }
  .contenedor2 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr); }
  .imgproducto {
    width: 320px;
    height: 320px; }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    align-items: center; }
  .img__sobremi {
    width: 350px;
    height: 350px; }
  .text__sobremi {
    width: 30px;
    font-size: 40px; }
  footer {
    padding: 15px 10px;
    align-items: center;
    font-size: 0.5rem; }
  footer div {
    text-align: center; } }
