@import "variables.scss" ; 


/*font descargada*/

@font-face{
    font-family: "raleway";
    src: url("../assets/fonts/Raleway-MediumItalic.ttf");
}

/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$estilosColor: (
negro: black,
naranjaOscuro: darkorange,
blanco: white
);

html{
    font-family: 'Raleway', sans-serif;;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: $backgroundPrincipal;
}

body{
    font-family: 'Raleway', sans-serif; ;
    background-color: $backgroundDos;
}

.navbar{
    background-color: $backgroundPrincipal;
}
.navbar-light .navbar-nav .nav-link{
    color: map-get( $estilosColor, negro  );
    text-shadow: 0 0 0.2em $backgroundDos, 0 0 0.2em $backgroundDos,
		0 0 0.2em $backgroundDos
}
.navbar-collapse{
    flex-grow: initial;
}
.navbar-nav{
    font-size: 1.1rem;
}
/*index*/

.carroza{
    width: 650px;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2{
@extend .section1;
    align-items: center;
}


.parallax{
    width: 100%;
    height: 600px;
    background-image: url("../assets/backgrounds/tarta-brownie.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textoIndex1{
    color: $colorLetra;
    text-shadow:0 0 0.2em white ;
    text-align: center;
}
.textoIndex{
    font-weight: $font-weigth;
    color: $colorLetra;
    text-shadow: 0 0 0.2em white;
    text-align: justify;
}

.parallax2{
    width:100% ;
    height: 100%;
    background-image: url("../assets/backgrounds/IMG-20211211-WA0014.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend .section1;
    align-items: center;
    font-weight: $font-weigth;
    color: $colorLetra;
    
}

.destacados{
    background-color: $backgroundOther;
}

    .texto {
        width: 100%;
        height: 50px;
        padding: auto;
        margin-top: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        color: $colorLetra;
}


.divTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}


.text__siguiente{
    width: 80%;
    height: 50px;
    padding: auto;
    margin-top: auto;   
    color: $colorLetra;
    text-align: center;
}

.img__siguiente{
    width: 250px;
    padding: 30px auto;
    border-radius: 10px;
}

/*class para sobre mi*/
.contenedor{
    width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2,1fr);
justify-content: center;
align-items: center;
justify-items: center;
}


.textsobre{
    width: 500px;
    height: 60px;
    font-size: 45px;
    padding: auto;
    margin-top: auto;
    margin: auto;
    font-weight: $font-weigth;
}

.text__sobremi{
    width: 400px;
    height: 50px;
    font-size: 30px;
    padding: auto;
    margin-top: auto;
}

.text__parrafo{
    max-width: 100%;
    font-size: 18px;
}

.img__sobremi{
    width: 80%;
    padding: 30% auto;
    border-radius: 10px;
}

/* preguntas.frecuentes*/

.accordion-button:not(.collapsed) {
    color: map-get($estilosColor, naranjaOscuro );
}
.accordion-button:focus {
    box-shadow: 0 0 0 0.20rem #ff8907c2;
    }

/*bem de contacto*/
.contenedor1 {
width: 95%;
margin-left: 10px
}
.form-contacto{
    border: 2px solid;
    padding: 20px;
    @extend .section1;
    background-color: $backgroundContacto;
    text-shadow: 0 0 0.2em white;

}

.contacto1{
    margin-top: auto;
    padding: auto;
font-size: 30px;
color: $colorDos;
font-weight: 100;
text-shadow: black 0.1em 0.1em 0.2em;
}

.text__contacto{
    margin-top: auto;
    padding: auto;
    font-size: 20px;
    color: $colorDos;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.form-contacto button, .form-contacto textarea, .form-contacto input {
    width: 100%;
    padding: 0.2rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid $backgroundPrincipal;
    color: $colorLetra;
}
.form-contacto button {
    background-color: $backgroundPrincipal;
    border: 0;
    text-transform: uppercase;
}
/*productos*/

.contenedor2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

@mixin img-size($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

.imgproducto{
@include img-size(250px,250px);
    padding: 20px 20px;
    border-radius: 20px;
}



footer{
width: 100%;
background-color: $backgroundOther;
color: map-get($estilosColor, blanco );
padding: 20px 20px;
background-image: url("../assets/backgrounds/toa-heftiba-5-MNAjL81Iw-unsplash.jpg");
background-size: cover;
background-position: center;
position: sticky;
font-weight: $font-weigth;
text-shadow: black 0.1em 0.1em 0.2em;
}

.foot{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

i {
font-size: 2.1rem;
}

/*media queris mobile*/

@media (max-width: 576px){


    .bloque{
        flex-direction: column;
    }


    .section2{
        flex-direction: column;
    }

    .ifr{
        width: 100%;
        height: 280px;
    }

    .texto{
        width: 400px;
    }
    .text__siguiente{
        width: 300px;
    }

    /*Productos*/

    .textsobre{
        width: 250px;
        height: 40%;
        display: flex;
        justify-content: center;
    }
    .contenedor2{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .imgproducto{
        width: 230px;
        height: 230px;
    }
    
    .contenedor{
        display: flex;
flex-direction: column;
justify-content: center;
margin: 2px;
align-items: center;
    }

    .img__sobremi{
        width: 300px;
    }
    .text__sobremi{
        width: 200px;
    }


}



